.cart-list {
  .addorplus {
    .count {
      padding: 0 10px;
    }
  }
  .tag {
    text-align: left;
    height: 30px;
    line-height: 30px;
    background-color: #fafafa;
  }
  .btn {
    padding: 20px;
    text-align: right;
  }
}
