.cart-list {
  .addorplus {
    .count {
      padding: 0 10px;
    }
  }
  .tag {
    text-align: left;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    background-color: #fafafa;
  }
  .btn {
    padding: 10px;
    text-align: right;
  }
  .column-list {
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
