.unpaid-list {
  .content {
    height: 500px;
    overflow-y: auto;
    .item {
      .split {
        background-color: #f9f0ff;
        height: 5px;
      }
      .dishname {
        font-weight: bold;
        font-size: 16px;
      }
    }
    .bottom {
      background-color: white;
      width: 100%;
      border-top: 1px solid #cccccc;
      height: 50px;
      line-height: 50px;
      text-align: right;
    }
  }
}
