.pcenter-head {
  height: 80px;
  width: 100%;
  z-index: 5;
  color: #333;
  font-size: 20px;
  text-align: left;
  background-color: white;
  cursor: pointer;
  padding:10px 0;
  margin-top: 20px;
  .head {
    float: left;
    padding-left: 30px;
    img {
      border-radius: 50px;
    }
  }
  .name {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
  }
  .uname {
    text-align: right;
    display: inline-block;
    float:right;
  }
}

.pcenter-content {
  background-color: white;
  margin-top: 20px;
  padding: 10px 0;
  ul,li{list-style:none}
  li {
    cursor: pointer;
    line-height: 50px;
  }
  li:hover {
    background-color: rgba(170,187,255,0.13);
  }
  .divider {
    border-bottom: 1px dotted #dddddd;
  }
  .title {
    padding-left: 20px;
    font-size: 16px;
    vertical-align: middle;
    color: #000c17;
  }
}
