.chat-head {
  position:fixed;
  padding-top:3px;
  width:100%;
  z-index: 5;
  padding-left: 10px;
  height: 30px;
  border-bottom: 1px solid #aaaaaa;
  background-color: #dddddd;
}
.chat-content{
  padding-top:50px;
  overflow-y: auto;
  padding-left: 10px;
  height: 400px;
  background-color: #fafafa;
}
.chat-input {
  position:absolute;
  height: 30px;
  padding-bottom: 80px;
  text-align:center;
}
.quick-send {
  cursor: pointer;
}
