.demo-loadmore-list {
  min-height: 350px;
}
.menu {
  .head {
    position:fixed;
    top:0;
    width:100%;
    z-index: 5;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    background-color: #87e8de;
    span {
      color: white;
      font-size: 22px;
      vertical-align: center;
      display: block;
    }
  }
  .content {
    max-height: 600px;
    overflow-y: auto;
    .dish-head {
      height:30px;
      line-height:30px;
      position:fixed;
      background-color: rgba(255,255,255,0.4);
      z-index:5;
      width:100%;
    }
    .dish-content {
      background-color: #ffffff;
    }
    .item {
      cursor: pointer;
    }
    .item:hover{
      background-color: rgba(170,187,255,0.13);
    }
    .dishname {
      font-weight: bold;
      font-size: 18px;
    }
  }
}
